@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
    font-family: 'Roboto Mono', monospace;
}
.container div{
    border-radius:10%;
    text-align:center;
    width:6%;
    display:inline-block;
    margin:5% 11%;
    padding:0 2%;
    font-size:100%;
}
.plan{
    background-color:#FF764E;
}
.about{
    background-color:#5ED3EB;
}
.get{
    background-color:#FFCD69;
}
a{
    color:white;
}
.guide div{
    display: inline-block;

}
.guide div img{
    width:20%;
    height: 20%;
    border-radius:50%;
    margin: 0% 14%;
}
h1{
    text-align:left;
    font-family: 'Chelsea Market', cursive;
    font-size:300%;
    width: 200%;
}
.guide .info{
    margin-left:-40%;
    text-align:center;
    width:20%;
}
.main{
text-align: center;
background-color:#DDB9A3 ;
color: White;
padding: 5%;
margin: 10%;
}
.middle img{
    width:10%;
    height:10%;
}
.middle{
    text-align: center;
}
.middle p{
    width:18%;
    margin-left: 41%;
}
footer{
    background-color: #F9E7DC;
}
footer img{
    width:100%;
}
span{
  font-weight: bold;  
}